<section class="construction">
  <section class="caution-tape"></section>
  <section class="construction-card rotate-right">
    <div class="construction-img"></div>
    <p>Under Construction</p>
  </section>
</section>
